@model ControleDeEstoque.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.RazaoSocial)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn btn-outline-info" asp-action="Index">Voltar</a>
</div>
