@model ControleDeEstoque.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeOuRazaoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeOuRazaoSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UfCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UfCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastroCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastroCliente)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-outline-info" asp-action="Index">Voltar</a>
</div>
