@model ControleDeEstoque.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailFornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneFornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastroFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastroFornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UfFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UfFornecedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeFornecedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CidadeFornecedor)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-outline-info" asp-action="Index">Voltar</a>
</div>
