@model IEnumerable<ControleDeEstoque.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

@section css {
    <link rel="stylesheet" href="~/css/views.css" asp-append-version="true" />
}

<h2>Fornecedores</h2>
    <hr />
<p>
        <a class="btn btn-primary" asp-action="Create">Adicionar</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UfFornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UfFornecedor)
            </td>
            <td class="btnSection">
                <a class="botoes-tabelas text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a class="botoes-tabelas text-decoration-none" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="botoes-tabelas text-decoration-none" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
